.wrapper {
    width: 1280px;
    height: 1031px;
    margin: 0 auto;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
 }

 .nav_bar {
     width: 1280px;
     height: 64px;
     border:1px solid gray;
 }
 .logo {
    position: relative;
    width: 104px;
    height: 32px;
    left: 72px;
    top: 16px;
    /* margin: 16px 1104px 16px 72px;
    float: left; */
 }

 .logo ul li a {
    position: absolute;
    width: 120px;
    height: 56px;
    left: 296px;
    top: 8px;
    

   /* Menu link 01 */


   .menu-link-01{
   font-family: Roboto;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 16px;
   letter-spacing: 0.04em;
   text-align: center;
 }

/* 
 Правила для баннера в header */
 .banner {
    /* position: absolute;
    left: 5.9%;
    right: 5.21%;
    top: 3.98%;
    bottom: 89.89%; */
    background-image: url(../images/Title_big_v1.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 1280px;
    left: 85px;
    top: 130px;
    border-radius: 0px;

 }


 .breadcrumbs {
    position: relative;
    width: 1280px;
    height: 56px;
    left: 86px;
    top: 330px;
    border: 1px solid grey;
 }


 /* Desktop_wrapper_03 */

.main {
    position: relative;
    width: 1280px;
    height: 528px;
    left: 89px;
    top: 386px;
    border: 1px solid grey;
}



.footer{
    position: relative;
    width: 1280px;
    height: 256px;
    left: 94px;
    top: 914px;
    border: 1px solid grey;
}