.wrapper {
    width: 1280px;
    height: 1031px;
    margin: 0 auto;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    position: relative;
 }

 .header{
    position: relative;
 }

 .nav_bar {
   width: 1280px;
   height: 64px;
   border:1px solid gray;
   background-color: khaki;
   position: relative;
   
 }
 .logo {
    position: relative;
    width: 104px;
    height: 32px;
    left: 72px;
    top: 16px;
    /* margin: 16px 1104px 16px 72px;
    float: left; */
 }

 .nav-menu{
    text-transform: uppercase;
   
 }
 
 .menu-link-01{
   position: absolute;
   width: 120px;
   height: 56px;
   left: 296px;
   top: 8px;
   border: 1px solid gray;
   padding: 16px 8px 0 8px;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Roboto Slab', serif;
   font-family: 'Rubik', sans-serif;
   font-size: 14px;
   line-height: 16px;
   background-color: green;

 
}

.underline{
   position: absolute;
   width: 104px;
   height: 4px;
   top: 46px;
   bottom: 8px;
   background: linear-gradient(268.98deg, rgba(255, 255, 255, 0.16) 0.24%, rgba(255, 255, 255, 0) 100.87%), #006BE8;
    

}
.menu-link-02{
   position: absolute;
   width: 120px;
   height: 56px;
   left: 440px;
   top: 8px;
   border: 1px solid gray;
   padding: 16px 8px 0 8px;
   box-sizing: border-box;
   background-color: greenyellow;
   font-family: 'Inter', sans-serif;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Roboto Slab', serif;
   font-family: 'Rubik', sans-serif;
   font-size: 14px;
   line-height: 16px;

  
}


.menu-link-03{
   position: absolute;
   width: 120px;
   height: 56px;
   left: 584px;
   top: 8px;
   border: 1px solid gray;
   padding: 16px 8px 0 8px;
   box-sizing: border-box;
   background-color: rgb(187, 230, 118);
   font-family: 'Inter', sans-serif;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Roboto Slab', serif;
   font-family: 'Rubik', sans-serif;
   font-size: 14px;
   line-height: 16px;
}

.menu-link-04{
   position: absolute;
   width: 120px;
   height: 56px;
   left: 728px;
   top: 8px;
   border: 1px solid gray;
   padding: 16px 8px 0 8px;
   box-sizing: border-box;
   background-color: rgb(187, 230, 118);
   font-family: 'Inter', sans-serif;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Roboto Slab', serif;
   font-family: 'Rubik', sans-serif;
   font-size: 14px;
   line-height: 16px;
}

.menu-link-05{
   position: absolute;
   width: 120px;
   height: 56px;
   left: 872px;
   top: 8px;
   border: 1px solid gray;
   padding: 16px 8px 0 8px;
   box-sizing: border-box;
   background-color: rgb(187, 230, 118);
   font-family: 'Inter', sans-serif;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Roboto Slab', serif;
   font-family: 'Rubik', sans-serif;
   font-size: 14px;
   line-height: 16px;
}

.sign-in{
   position: absolute;
   width: 96px;
   height: 48px;
   top: 8px;
   left: 1112px;

}

.banner{
   position: absolute;
   width: 1280px;
   height: 200px;
   left: 0px;
   top: 66px;
}

.breadcrumbs{
   position: absolute;
   width: 1280px;
   height: 56px;
   left: 0px;
   top: 264px;
   border: 1px solid gray;
}



.main{
   position: absolute;
   width: 1280px;
   height: 528px;
   left: 0px;
   top: 321px;
   border: 1px solid gray;
}

.main-block-01{
   
   width: 368px;
   height: 400px;
   margin: 64px 840px 72px;

   background: #833a3a;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}