.wrapper {
    width: 1280px;
    height: 1031px;
    margin: 0 auto;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
 }

 .nav_bar {
     width: 1280px;
     height: 64px;
     border:1px solid gray;
 }
 .logo {
    position: absolute;
    width: 104px;
    height: 32px;
    left: 72px;
    top: 16px;
    /* margin: 16px 1104px 16px 72px;
    float: left; */
 }

 .nav-menu{
    text-transform: uppercase;
 }
 
 .menu-link-01{
   position: absolute;
   width: 120px;
   height: 56px;
   left: 296px;
   top: 8px;
   /* border: 1px solid gray; */
   padding: 16px 8px 0 8px;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Roboto Slab', serif;
   font-family: 'Rubik', sans-serif;
   font-size: 14px;
   line-height: 16px;

 
}

.underline{
   position: absolute;
   width: 104px;
   height: 4px;
   top: 46px;
   bottom: 8px;
   background: linear-gradient(268.98deg, rgba(255, 255, 255, 0.16) 0.24%, rgba(255, 255, 255, 0) 100.87%), #006BE8;
    

}
.menu-link-02{
   position: absolute;
   width: 120px;
   height: 56px;
   left: 440px;
   top: 8px;
   border: 1px solid gray;
  
}