body{
    background-color: cyan;
    width: 1000px;
    text-align: center;
    border:solid 1px;
    margin: 0 auto;
    
}

h1, h2{
    font-family: 'Rubik', sans-serif;

}
p{
    color: blueviolet;
    font-size: 125%;
    font-style: italic;
    font-weight: bold;
    
}
ul{
    text-align: center;
    list-style-type: none  
}
.imagePoster{
    background-image: url("../images/04.jpg");
    background-repeat: no-repeat;
    background-size: 100px;


}