.wrapper {
    width: 1060px; 
    height: 1000px; 
    margin: 0 auto; 
    border-left: 1px solid grey; 
    border-right: 1px solid grey;
}


/* .header-menu {
    width: 967px;
    height: 40px;
} */
.logo {
    padding: 50px 0 40px 46px;
    ;

}
.header-menu ul li a {
    display: block;
    padding-left:46px ;
    text-decoration: none;
    float: left;
    
}