.wrapper {
    width: 1060px; 
    height: 1000px; 
    margin: 0 auto; 
    border-left: 1px solid grey; 
    border-right: 1px solid grey;
}
.logo a img{
    padding: 50px 46px 40px 46px;
    box-sizing: border-box;
}