.wrapper {
    width: 1060px; 
    height: 1000px; 
    margin: 0 auto; 
    border-left: 1px solid grey; 
    border-right: 1px solid grey;
    padding-left: 46px;
    padding-right: 46px;
    box-sizing: border-box;
}

.header-menu {
    width: 967px;
    height: 40px;
    background-color: #5a5a5a;
    padding-top: 14px;
    box-sizing: border-box;
    
}
.logo {
    padding: 50px 0 40px 0;
}

.header-menu ul li a {
    display: block;
    padding-left: 25px;
    padding-right: 60px;
    text-decoration: none;
    float: left;
    font-family: Myriad Pro sans-serif;
    font-size: 15px;
    color: #ffffff;
   
}
.goods a {
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;

}


.sidebar-menu {
    height: 240px;
    width: 240px;
    margin-top: 40px;
    border: 1px solid #c8c8c8;
}
.sidebar-menu ul li {
    
    border-bottom: 1px solid #c8c8c8;
    padding: 13px 0 7px 23px;
    box-sizing: border-box;
    font-family: Myriad Pro sans-serif;
    font-size: 13px;

}
.sidebar-menu ul li a {
    text-decoration: none;
    color: #656363;
}